<div id="challenges_container">
    <h1>Hey <%= current_user.first_name %>, got some challenges for you...</h1>
    <ul id="required_challenges">
        <% @required_challenges.each do |c| %>
        <li><%= c.summary %></li>
        <% end %>
    </ul>
    <ul id="suggested_challenges">
        <% @suggested_challenges.each do |c| %>
        <li><%= c.summary %>, (<%= c[:matching_skills].map{|s| s.name}.inspect %>)</li>
        <% end %>
    </ul>
</div>