// Place all the styles related to the Challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#gameplan_intro{
  padding: 20px;
  background-color: #effdd7;
  border: 2px solid #DFF2BF;
  margin-bottom: 30px;
}

.controls{
  float:right;
  width: 100px;
}

#complete_challenge_container{
  padding: 20px;
  background-color: #effdd7;
  margin-top:30px;

  &.pending{
    background-color: #fdeed7;
  }
  &.complete{
    background-color: #effdd7;
  }
}

h1,h2{
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

h2{
  font-size: 16px;
}

.challenges_container{
  width: 380px;

  ul{
    list-style: none;
  }
}

#all_user_challenges_container{
  width: auto;

  .challenge_row{
    background-color: #fdd7d7;

    &.pending{
      background-color: #fdeed7;
    }
    &.complete{
      background-color: #effdd7;
    }
  }
}

#user_challenges_container{
  float:left;
  margin-right: 60px;

  #required_challenges{
    margin-bottom: 0px;
  }
}

#suggested_challenges_container{
  float:left;
}

.challenge_row{
  padding: 10px;
  border-bottom: 1px solid #eee;

  &.compulsory{
    background-color: #f9f9f9;
  }

  .compulsory_label{
    color: #999;
    font-size: 10px;
  }
  .more_link{
    float:right;
  }
  .more_description{
    display: none;
  }
}

.circle {
  width: 20px;
  height: 20px;
  display: inline-block;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-align: center;
  color: white;
  text-shadow:2px 2px 2px rgba(0,0,0,0.2);
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
}

a.circle {
  color: white;
}

.plus {
  background-image: linear-gradient(bottom, rgb(97,176,52) 0%, rgb(144,218,26) 100%);
  background-image: -o-linear-gradient(bottom, rgb(97,176,52) 0%, rgb(144,218,26) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(97,176,52) 0%, rgb(144,218,26) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(97,176,52) 0%, rgb(144,218,26) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(97,176,52) 0%, rgb(144,218,26) 100%);

  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0.06, rgb(97,176,52)),
  color-stop(0.53, rgb(144,218,26))
  );
}

.minus {
  background-image: linear-gradient(bottom, rgb(253,1,1) 100%, rgb(190,0,0) 0%);
  background-image: -o-linear-gradient(bottom, rgb(253,1,1) 100%, rgb(190,0,0) 0%);
  background-image: -moz-linear-gradient(bottom, rgb(253,1,1) 100%, rgb(190,0,0) 0%);
  background-image: -webkit-linear-gradient(bottom, rgb(253,1,1) 100%, rgb(190,0,0) 0%);
  background-image: -ms-linear-gradient(bottom, rgb(253,1,1) 100%, rgb(190,0,0) 0%);

  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(1, rgb(253,1,1)),
  color-stop(0, rgb(190,0,0))
  );
}

.info {
  background-image: linear-gradient(bottom, rgb(1,150,227) 100%, rgb(0,132,200) 0%);
  background-image: -o-linear-gradient(bottom, rgb(1,150,227) 100%, rgb(0,132,200) 0%);
  background-image: -moz-linear-gradient(bottom, rgb(1,150,227) 100%, rgb(0,132,200) 0%);
  background-image: -webkit-linear-gradient(bottom, rgb(1,150,227) 100%, rgb(0,132,200) 0%);
  background-image: -ms-linear-gradient(bottom, rgb(1,150,227) 100%, rgb(0,132,200) 0%);

  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(1, rgb(1,150,227)),
  color-stop(0, rgb(0,132,200))
  );
}

#continue_button_container{
  text-align:center;
  font-size: 16px;
  margin-top: 15px;
}

#facebox{
  .title{
    font-weight: bold;
    font-size: 13px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #CCC;
  }
  .description{
    margin-bottom:10px;
  }
}